body {
    text-align: center;
    background-color: #F5F6EB;
    height:100%;
    width:100%;
    color: #34352C;
}

@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale3d(.3, .3, .3);
  }

  to {
    opacity: 1;
  }
}

/*.ssm-container {
    position: absolute;
    top:50%;
    margin-top: -100px;
    left:50%;
    margin-left:-150px;
    animation: 3s zoomIn;
}*/

.ssm-container {
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    width: x;
    height: y;
    margin: auto;  //关键属性
}

.ssm-img img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.ssm-contents:hover {
    color: blue;
    text-decoration:underline;
}

img{
    transition: 1s cubic-bezier(.17,.67,.83,.67);
}

img:hover{
    height: 150px;
    width: 150px;
}
